@import '~bootstrap/dist/css/bootstrap.min.css';
hr {
    height:3px;
    border:none;
    background-color:darkred;
}
h4 {
    font-size: x-large;
}





.one {
    color:red;
}
.two {
    color:orange;
}
.three {
    background-color:black;
}
.four {
    color:yellow;
}
.five {
    background-color:green;
}
.six {
    color:white;
}